<!------------------------------------------>
<!-- user nav -->
<!------------------------------------------>

<div class="container">
  <nav class="navbar navbar-expand-md navbar-light bg-faded">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="<%= root_url %>">Donatable</a>

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav mr-auto mt-2 mt-md-0">
        <li class="nav-item active">
            <a class="nav-link" href="<%= root_url %>">
              <i class="fa fa-home"></i> Home
                <!-- <span class="sr-only">(current)</span> -->
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="<%= about_path %>">
              <i class="fa fa-info-circle"></i> About
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="<%= organizations_path %>">
                <i class="fa fa-search"></i> Search
            </a>
        </li>
        <% if Rails.application.routes.url_helpers.method_defined?(:destroy_user_session_path) %>
          <% if current_user %>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" tabindex="0" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-user"></i> Admin
                </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="/organizations/new">
                            <i class="fa fa-plus-circle"></i> Add Org
                        </a>
                        <%= link_to 'Sign out', main_app.destroy_user_session_path, class: "dropdown-item", method: :delete %>
                    </div>
            </li>
          <% else %>
            <li class="nav-item">
              <a class="nav-link" href="/users/sign_in">
                  <i class="fa fa-sign-in"></i> Login</a>
            </li>
          <% end %>
        <% end %>
        </ul>
        <% unless cookies[:locale] == :en %>
            <a class="nav-link">
                <%= link_to "English", params.permit(:locale).merge(locale: :en) %>
            </a>
        <% end %>
        <% unless cookies[:locale] == :es %>
            <a class="nav-link">
                <%= link_to "Español", params.permit(:locale).merge(locale: :es) %>
            </a>
        <% end %>
    </div> <!-- end navbar -->
  </nav> <!-- end nav -->
</div> <!-- end container -->
