<%= form_with(model: organization, local: true, class: 'rounded-form') do |form| %>
  <% if organization.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(organization.errors.count, "error") %> prohibited this organization from being saved:</h2>

      <ul>
      <% organization.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %><br>
    <%= form.text_field :name, id: :organization_name %>
  </div>

  <div class="field">
    <%= form.label :website %><br>
    <%= form.text_field :website, id: :organization_website %>
  </div>

  <div class="field">
    <%= form.label :twitter %><br>
    <%= form.text_field :twitter, id: :organization_twitter %>
  </div>

  <div class="field">
    <%= form.label :facebook %><br>
    <%= form.text_field :facebook, id: :organization_facebook %>
  </div>

  <div class="field">
    <%= form.label :phone %><br>
    <%= form.text_field :phone, id: :organization_phone %>
  </div>

  <div class="field">
    <%= form.label :city %><br>
    <%= form.text_field :city, id: :organization_city %>
  </div>

  <div class="field">
    <%= form.label :state_or_district %><br>
    <%= form.text_field :state_or_district, id: :organization_state_or_district %>
  </div>

  <div class="field">
    <%= form.label :country %><br>
    <%= form.text_field :country, id: :organization_country %>
  </div>

  <div class="field">
    <%= form.label :banner_url %><br>
    <%= form.text_field :banner_url, id: :organization_banner_url %>
  </div>

  <div class="field">
    <%= form.label :logo_url %><br>
    <%= form.text_field :logo_url, id: :organization_logo_url %>
  </div>

  <div class="field">
    <%= form.label :short_description %><br>
    <%= form.text_field :short_description, id: :organization_short_description %>
  </div>

  <div class="field">
    <%= form.label :long_description %><br>
    <%= form.text_area :long_description, id: :organization_long_description %>
  </div>

  <div class="actions">
    <%= button_tag(type: 'submit', class: 'btn btn-success') do %>
      <i class="fa fa-plus-circle"></i> Create Org
    <% end %>
  </div>
<% end %>
