<%= form_with(model: organization, local: true) do |form| %>
  <% if organization.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(organization.errors.count, "error") %> prohibited this organization from being saved:</h2>

      <ul>
      <% organization.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :organization_name %>
  </div>

  <div class="field">
    <%= form.label :website %>
    <%= form.text_field :website, id: :organization_website %>
  </div>

  <div class="field">
    <%= form.label :twitter %>
    <%= form.text_field :twitter, id: :organization_twitter %>
  </div>

  <div class="field">
    <%= form.label :facebook %>
    <%= form.text_field :facebook, id: :organization_facebook %>
  </div>

  <div class="field">
    <%= form.label :phone %>
    <%= form.text_field :phone, id: :organization_phone %>
  </div>

  <div class="field">
    <%= form.label :city %>
    <%= form.text_field :city, id: :organization_city %>
  </div>

  <div class="field">
    <%= form.label :state_or_district %>
    <%= form.text_field :state_or_district, id: :organization_state_or_district %>
  </div>

  <div class="field">
    <%= form.label :country %>
    <%= form.text_field :country, id: :organization_country %>
  </div>

  <div class="field">
    <%= form.label :banner_url %>
    <%= form.text_field :banner_url, id: :organization_banner_url %>
  </div>

  <div class="field">
    <%= form.label :logo_url %>
    <%= form.text_field :logo_url, id: :organization_logo_url %>
  </div>

  <div class="field">
    <%= form.label :short_description %>
    <%= form.text_field :short_description, id: :organization_short_description %>
  </div>

  <div class="field">
    <%= form.label :long_description %>
    <%= form.text_area :long_description, id: :organization_long_description %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
