<% content_for :title do %>
    Edit Organization | Donatable
<% end %>

<% content_for :jumbotron do %>
    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-md-9 col-sm-12">
                    <h1 class="display-3">Edit <%= @organization.name %></h1>
                    <p class="lead">
                        <%= @organization.short_description %>
                    </p>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-12 org_logo_container" align="center">
                        <%= image_tag @organization.logo_image(:logo), alt: 'Organization logo', tabindex: 0 %>
                </div>
            </div>
        </div>
    </div>
<% end %>

<% content_for :main do %>
    <div class="col-12 col-md-9 pull-md-3 bd-content">
        <%= render 'form', organization: @organization %>
    </div>
    <div class="col-12 col-md-3 push-md-9 bd-sidebar">
        <h3>More Info</h3>
        <p>Here you can edit the data on file for <%= @organization.name %>.</p>
        <p>Fill out the form details as best as you can and click "Submit" when you are finished.</p>
        <hr/>
        <h4>Quick Links</h4>
        <%#= render 'layouts/donatable/sidebar' %>
        <%= link_to @organization, class: 'btn btn-primary btn-block' do %>
            <i class="fa fa-eye"></i> View Org
        <% end %>
        <%= link_to organizations_path, class: 'btn btn-secondary btn-block' do %>
            <i class="fa fa-arrow-circle-left"></i> Back to Search
        <% end %>
    </div>


<% end %>
