<% content_for :title do %>
    Search Orgs | Donatable
<% end %>

<% content_for :jumbotron do %>
    <div class="jumbotron search_jumbotron">
        <div class="container">
              <form class="form-inline org_search">
                <div class="col-lg-9 col-md-9 col-sm-12">  
                    <input class="form-control" id="search" name="search" type="text" placeholder="Type keywords here and click button below to search" aria-label="Search" />
                  </div>
                <div class="col-lg-3 col-md-3 col-sm-12">
                    <button class="btn btn-secondary btn-lg btn-block" type="submit"><i class="fa fa-search"></i> Search</button>
                </div>    
              </form>
        </div>
    </div>
<% end %>

<% content_for :main do %>
<div class="col-12 col-md-12 pull-md-12 bd-content">
    <p id="notice"><%= notice %></p>
        <table class="table">
          <thead class="thead-default">
            <tr>
                <th>Logo</th>
                <th>Name</th>
                <th>Language</th>
                <th>Website</th>
                <th>Short description</th>
                <th>Tags</th>
            </tr>
          </thead>

          <tbody>
            <% @organizations.each do |organization| %>
              <tr>
                <td><%= image_tag organization.logo_image(:logo), alt: 'Organization logo', tabindex: 0 %></td>
                <td><%= link_to organization.name, organization_path(organization) %></td>
                <td><%= organization.language %></td>
                <td><%= organization.website %></td>
                <td><%= organization.short_description %></td>
                <td>
                  <% organization.tag_list.each do |tag|%>
                    <%= link_to tag, "/organizations/?tag=#{tag}", class: 'tag' %>
                  <% end %>

                </td>
              </tr>
              <tr>
              </tr>
            <% end %>
          </tbody>
        </table>
        <%= paginate @organizations %>

</div>
<% end %>
