<% content_for :title do %>
    Search Orgs | Donatable
<% end %>

<% content_for :jumbotron do %>
    <div class="jumbotron search_jumbotron">
        <div class="container">
              <form class="form-inline org_search">
                <div class="col-lg-9 col-md-9 col-sm-12">  
                    <input class="form-control" id="search" name="search" type="text" placeholder="Type keywords here and click button below to search" aria-label="Search" />
                  </div>
                <div class="col-lg-3 col-md-3 col-sm-12">
                    <button class="btn btn-secondary btn-lg btn-block" type="submit"><i class="fa fa-search"></i> Search</button>
                </div>    
              </form>
        </div>
    </div>
<% end %>

<% content_for :main do %>
<div class="col-12 col-md-9 pull-md-3 bd-content">
    <p id="notice"><%= notice %></p>

            <div class="container">
                <% @organizations.each do |organization| %>
                <div class="row org_card">
                    <div class="col-2">
                        <%= image_tag organization.logo_image(:logo), alt: 'Organization logo', tabindex: 0 %>
                    </div>
                    <div class="col-9">
                        <%= link_to organization.name, organization_path(organization), class: 'org_name' %><br>
                        <i class="fa fa-globe"></i> <%= organization.website %><br>
                        <i class="fa fa-commenting-o"></i> <%= organization.short_description %><br>
                        <i class="fa fa-tags"></i> 
                        <% organization.tag_list.each do |tag|%>
                            <%= link_to tag, "/organizations/?tag=#{tag}", class: 'btn btn-outline-warning btn-sm' %>
                        <% end %>
                    </div>
                    <div class="col-1">
                        <%= organization.language %>
                    </div>
                </div>
                <% end %>
            </div>
    
        <%= paginate @organizations %>
    
</div>
<div class="col-12 col-md-3 push-md-9 bd-sidebar">
    <h3>More Info</h3>
    <p>Use the search form above to find specific organizations that match your query.</p>
    <p>Organizations matching your query will be listed next to this section, where you can view each organization by clicking on it's name.</p>
    <hr/>
    <h3>Tag Cloud</h3>
</div>
<% end %>
