<% content_for :title do %>
    Search Orgs | Donatable
<% end %>

<% content_for :jumbotron do %>
    <div class="jumbotron">
        <div class="container">
          <h1 class="display-3">Search Organizations</h1>
          <p class="lead">
              <form class="form-group org_search">
                <input class="form-control col-lg-10 col-md-10 col-sm-12" id="search" name="search" type="text" placeholder="Type keywords here and click button below to search" aria-label="Search" />
                <button class="btn btn-secondary btn-block btn-lg" type="submit"><i class="fa fa-search"></i> Search</button>
              </form>
          </p>
        </div>
    </div>
<% end %>

<% content_for :main do %>
<div class="col-12 col-md-12 pull-md-12 bd-content">
    <p id="notice"><%= notice %></p>
        <table class="table">
          <thead class="thead-default">
            <tr>
                <th>Name</th>
                <th>Website</th>
                <th>Short description</th>
                <th>Action</th>
            </tr>
          </thead>

          <tbody>
            <% @organizations.each do |organization| %>
              <tr>
                <td><%= organization.name %></td>
                <td><%= organization.website %></td>
                <td><%= organization.short_description %></td>
                <td>
                    <%= link_to organization, class: 'btn btn-primary table_action_btn btn-sm' do %>
                    <i class="fa fa-eye"></i> <span>View</span>
                    <% end %>
                    <%= link_to edit_organization_path(organization), class: 'btn btn-warning table_action_btn btn-sm' do %>
                    <i class="fa fa-pencil"></i> <span>Edit</span>
                    <% end %>
                    <%= link_to organization, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger table_action_btn btn-sm' do %>
                        <i class="fa fa-ban"></i> <span>Delete</span>
                    <% end %>
                </td>
              </tr>
              <tr>
              </tr>
            <% end %>
          </tbody>
        </table>

        <br>

        <%= link_to new_organization_path, class: 'btn btn-success' do %>
            <i class="fa fa-plus-circle"></i> New Organization
        <% end %>
</div>
<% end %>
