<% content_for :title do %>
    View Organization | Donatable
<% end %>

<% content_for :jumbotron do %>
    <div class="jumbotron">
        <div class="container">
          <h1 class="display-3">View Organization</h1>
          <p class="lead">
            Information on what this page is goes here
          </p>
        </div>
    </div>
<% end %>

<% content_for :main do %>
    <div class="col-12 col-md-9 pull-md-3 bd-content">
        <p id="notice"><%= notice %></p>

        <%= image_tag @organization.main_image(:medium), alt: 'Organization main image' %>
        <p class="org_info">
          Name:<br>
          <span><%= @organization.name %></span>
        </p>

        <p class="org_info">
          Website:<br>
          <span><%= @organization.website %></span>
        </p>

        <p class="org_info">
          Twitter:<br>
          <span><%= @organization.twitter %></span>
        </p>

        <p class="org_info">
          Facebook:<br>
          <span><%= @organization.facebook %></span>
        </p>

        <p class="org_info">
          Phone:<br>
          <span><%= @organization.phone %></span>
        </p>

        <p class="org_info">
          City:<br>
          <span><%= @organization.city %></span>
        </p>

        <p class="org_info">
          State or district:<br>
          <span><%= @organization.state_or_district %></span>
        </p>

        <p class="org_info">
          Country:<br>
          <span><%= @organization.country %></span>
        </p>

        <p class="org_info">
          Banner url:<br>
          <span><%= @organization.banner_url %></span>
        </p>

        <p class="org_info">
          Logo url:<br>
          <span><%= @organization.logo_url %></span>
        </p>

        <p class="org_info">
          Short description:<br>
          <span><%= @organization.short_description %></span>
        </p>

        <p class="org_info">
          Long description:<br>
          <span><%= @organization.long_description %></span>
        </p>
    </div>
    <div class="col-12 col-md-3 push-md-9 bd-sidebar">
        <h3>More Info</h3>
        <img src="http://via.placeholder.com/400x300" width="100%" height="auto" alt="placeholder" tabindex="0" />
        <hr/>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <%#= render 'layouts/donatable/sidebar' %>
        <%= link_to edit_organization_path(@organization), class: 'btn btn-warning btn-block' do %>
            <i class="fa fa-pencil"></i> Edit Org
        <% end %>
        <%= link_to organizations_path, class: 'btn btn-secondary btn-block' do %>
            <i class="fa fa-arrow-circle-left"></i> Back to Search
        <% end %>
    </div>
<% end %>
